<div>
	<!--Add the Header-->
	<h1>Great Work Yesterday!!</h1>
	
	<p>Here are some details on your performance today.  We hope this helps keep you aware of your sales and set your own goals.</p>

	<ul>
		<li><strong>Total Shift Hours:</strong>	{{Total_Shift_Hours}}</li>
		<li><strong>Total_Shift_Sales:</strong>	{{Total_Shift_Sales}}</li>
		<li><strong>Base_Pay_Rate:</strong>	{{Base_Pay_Rate}}</li>
		<li><strong>Commission_Factor:</strong>	{{Commission_Factor}}</li>
		<li><strong>Average_Sales_Per_Hours:</strong>	{{Average_Sales_Per_Hour}}</li>
		<li><strong>Shift_Commission_Multiplier:</strong>	{{Shift_Commission_Multiplier}}</li>
		<li><strong>Hourly_Commission_Rate:</strong>	{{Hourly_Commission_Rate}}</li>
		<li><strong>Average_Hourly_Earnings:</strong>	{{Average_Hourly_Earnings}}</li>
		<li><strong>Total_Shift_Earnings:</strong>	{{Total_Shift_Earnings}}</li>
	</ul>

	<p>Yours Truely,</p>
	<p>Steve & Ian</p>
</div>
