<div>
	
	<!--If Registration status has yet to be confirmed-->
	<div ng-if='!vm.registeredUser'>

		<!--Create a new account if need be-->
		<div ng-if='!vm.forgotPassword'>
			<create-new-account></create-new-account>
		</div>

		<!--Or Help them reset their password-->
		<div ng-if='vm.forgotPassword'>
			<password-reset></password-reset>
		</div>
		
	</div>
	
	<!--If they're an existing user, access their dashboard-->
	<div ng-if='vm.registeredUser'>
		<user-dashboard></user-dashboard>
	</div>

</div>