<div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<div class="container">
				
				<!--Filter bar-->
				{{vm.selectedProducts}}

				<!--Products Section-->
				<div ng-repeat='product in vm.allProducts track by $index'>
					
					<prdct-thmbnl 	product='product' 
									ng-click='vm.selectAProuct(product.code)'
									class='col-xs-12 col-sm-6 col-md-6 col-lg-4 prdctListItem'>
					</prdct-thmbnl>

				</div>

			</div>

		</div>

	</div>
	
</div>