<div>
	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="container">
				
				<!--First collect the zip and date-->
				<to-zip-on-date ng-if='true' 
								going-to='vm.cart.aquisitionDetails.deliveryLocation' 
								zip-identified='vm.cart.aquisitionDetails.delZipIdentified'
				>
				</to-zip-on-date>
			
				<!--Second Determine if this is Pick-up or delivery IF DELIVERY IS AVAILABLE-->
				<select-p-or-d ng-if='vm.zipAndDateSelected'></select-p-or-d>

				<!--Third if it's Pick-up select the location-->
				<select-pickup-location ng-if='false'></select-pickup-location>
				
				<!--Third if it's delviery, define the delivery address-->
				<define-delivery-address deliver-to="vm.cart.aquisitionDetails.deliveryLocation"></define-delivery-address>

				<!--Third if it's Delivery select the type (USPS, FedEx, UPS // Priority, Express, ground, etc)-->
				<select-delivery-method ng-if='false'></select-delivery-method>

				<!--Finally, Navigate forward or backward-->
				<button class="btn" style='color: black'>Go Back</button>
				<button class='btn btn-danger' ng-click='vm.order()'>Continue</button>
				
			</div>
		</div>
	</div>
	
</div>