<HEADER>

	<!--This the navbar-->
	<nav class="navbar">
		
		<!--The navbar is a fluid container-->
		<div class="container-fluid">

			<!--The navbar s also a header-->
			<div class="navbar-header">
				
				<!--Our company Brand is a link back to the landing page-->
				<a class="navbar-brand" href="#/" id='testing'>Ah-Nuts!</a>

				<!--Locations-->
				<button>Locations</button>
				<!--Login-->
				<button>Login</button>
				<!--Cart-->
				<button>cart</button>
				<!--Menu-->
				<button>menu</button>

			</div>

		</div>
	</nav>
</HEADER>