<HEADER>

	<!--This the navbar-->
	<nav class="navbar">
		
		<!--The navbar is a fluid container-->
		<div class="container-fluid">

			<!--The navbar s also a header-->
			<div class="navbar-header">
				
				<!--Our company Brand is a link back to the landing page-->
				<a class="navbar-brand" href="#/" id='testing'>Ah-Nuts!</a>

				<!--Locations-->
				<button class='glyphicon glyphicon-search' ng-click='vm.navbnt("locations")'>
					<span>locations</span>
				</button>

				<!--Login-->
				<button class='glyphicon glyphicon-user' ng-click='vm.navbnt("login")'>
					<span>login</span>
				</button>

				<!--Cart-->
				<button class='glyphicon glyphicon-shopping-cart' ng-click='vm.navbnt("cart")'>
					<span>cart</span>
				</button>

				<!--Menu-->
				<button class='glyphicon glyphicon-th-list' ng-click='vm.navbnt("menu")'>
					<span>menu</span>
				</button>

			</div>

		</div>
	</nav>
</HEADER>