<div>
	<!--{{vm.cartItems}}-->
	<table class="table">
		<!--The header row-->
		<tr>
			<th>Item</th>
			<th>Qty</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
		<tr ng-repeat='item in vm.cartItems track by $index'>
			<td>
				{{ item.name }}<span ng-if='item.qty > 1'>s</span>
				<br>
				<span><a href="" ng-click="vm.removeItem(item.code)">remove</a></span>
			</td>
			<td>
				<input type="text" ng-model='item.qty' ng-blur='vm.updateQty(item.code, item.qty)'>
			</td>
			<td>{{ (item.price / 100) | currency }}</td>
			<td>{{ (item.qty * (item.price / 100)) | currency }}</td>
		</tr>
	</table>
</div>