<div>
	
	<!--Name: First-->
	<label for="first">First name:</label>
	<input type="text" name='first' ng-model='vm.deliverTo.receiver.first'>

	<!--Name: Last-->
	<label for="last">Last Name:</label>
	<input type="text" name='last' ng-model='vm.deliverTo.receiver.last'>

	<!--Address: Street1-->
	<label for="street1">Street:</label>
	<input type="text" name='street1' ng-model='vm.deliverTo.street1'>

	<!--Address: Street2-->
	<input type="text" name='street2' ng-model='vm.deliverTo.street2'>

	<!--Address: Street3-->
	<input type="text" name='street3' ng-model='vm.deliverTo.street3'>

	<!--Address: City-->
	<label for="city">City:</label>
	<input type="text" name='city' ng-model='vm.deliverTo.city'>

	<!--Address: State-->
	<label for="state">State:</label>
	<input type="text" name='state' ng-model='vm.deliverTo.state'>

</div>