<div>
	<!--This is the title-->
	<h4 class='text-center'>Featured Products</h4>
	<h5 class='text-center'>This is what our customers are loving</h5>
		
	<div class="circle fpLabel" ng-click='vm.productSelectionBtn("cone")'>Cones</div>
	<div class="circle fpLabel" ng-click='vm.productSelectionBtn("platter")'>Platters</div>
	<div class="circle fpLabel" ng-click='vm.productSelectionBtn("tin")'>Tins</div>
	<div class="circle fpLabel" ng-click='vm.productSelectionBtn("basket")'>Baskets</div>

	<!--This is the see more prodcuts button-->			
	<button class="btn btn-danger center" style='' ng-click='vm.mrPrdctsBtn()'>See More Products</button>

</div>