<div>
	<!--This is the title-->
	<h4 class='text-center'>Featured Products</h4>
	<h5 class='text-center'>This is what our customers are loving</h5>
		
	<div class="circle" ng-click='vm.productSelectionBtn("one-pound-cone")'>One LB Cone</div>
	<div class="circle" ng-click='vm.productSelectionBtn("platter")'>1.25 LB Platter</div>
	<div class="circle" ng-click='vm.productSelectionBtn("one-pound-tin")'>One LB Tin</div>
	<div class="circle" ng-click='vm.productSelectionBtn("something-else")'>Something Else</div>

	<!--This is the see more prodcuts button-->			
	<button class="btn btn-danger center" style='' ng-click='vm.mrPrdctsBtn()'>See More Products</button>

</div>