#emptyCart {
	
	border: solid 1px #aa0000;
    background: #EBEBEB;
    height: 300px;
    position: relative;
}

.message {
	color: #333333;
	margin-top: 130px;
    text-align: center;
    line-height: 30px;
}