.circle {
	display: inline-block;
	width: 49%;
	height: 150px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #64d1db;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.fpLabel {
	padding-top: 20px;
	color: #333333;
}

.prdctList {
	list-style: none;
	padding-left: 0px;
}

.prdctListItem {
	display: inline;
	height: auto;
	margin: auto;
	margin-left:15%;
}

.prdctListItem img {
	width: 70%;
}

.prdctImg {
	width: 70%;
	margin: auto;
	height: auto;
	background-size: contain;
}

.prdctThmb {
	max-width: 20%;
	height: auto;
	background-size: contain;
}

.productThumbnail {
	margin-top: 10px;
	margin-bottom: 20px;
}