.circle {
	display: inline-block;
	width: 49%;
	height: 150px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #64d1db;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.fpLabel {
	padding-top: 20px;
	color: #333333;
}

.prdctImg {
	width: 70%;
	height: auto;
	background-size: contain;
}

.prdctThmb {
	max-width: 20%;
	height: auto;
	background-size: contain;
}